html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	background-image: url(../img/better_galaxy.jpeg)
	
}
.wrapper {
	width: 80%;
	margin: 0 auto;
	padding: 1em;
	display: flex;
	flex-flow: row nowrap;
	background: linear-gradient(to left, #244E73, #4D208C);
	color: #BF637C;
}

section {
	flex-basis: 57%;
	margin-right: 10%;
}
aside {
	flex-basis: 33%;
}

p, [for="abtype"] {
	margin: 2rem 0 0 0;
}

fieldset {
	border: 1px solid #BF637C;
	border-radius: 10px;
	margin-bottom: 2rem;
	color: #BF637C;
}

legend {
	font-weight: bold;
	font-size: 1.3rem;
	margin-top: 1.5rem;
	margin-bottom: 1rem;
	color: #BF637C;
	
}

label {
	display: block;
	padding-bottom: 0.5rem;
}

textarea {
	height: 10rem;
	padding: 1rem;
}

select {
	font-size: 1rem;
}

button {
	font-size: 1rem;
	margin: 2rem 0;
	background: linear-gradient(to right, #BF637C, #1D1340);
	border: none;
	padding: 0.5rem 1rem;
	border-radius: 1rem;
}

button:focus,
button:hover{
	background: linear-gradient(to left, #BF637C, #1D1340);
}

input:not([type="radio"]):not([type="checkbox"]), textarea {
	display: block;
	margin-bottom: 2rem;
	width: 20rem;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1rem;
	padding: 0 1rem;
	border-radius: 10px;
	border: none;
}




